<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="shortcut icon"
      href="http://www.acharya.ac.in/img/Acharya_Logo1.PNG"
      type="image/x-icon"
    />
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <title>Registration | Acharya Football League</title>
  </head>

  <body>
    <div class="container">
      <div>
        <h1 class="title">
          <a href="/">
            <b>
              <i style="color:#F49424">Acharya</i>
              <i style="color:#223881">Football</i>
              <i style="color:#F49424">League.</i>
            </b>
          </a>
          <img
            class="disp"
            style="float:right"
            src="http://www.acharya.ac.in/img/Acharya_Logo1.PNG"
            alt="Acharya Logo "
            width="90"
            height="80"
          />
        </h1>
        <br />
        <hr />
      </div>
      <div>
        <ul class="nav nav-tabs nav-justified">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="/home">Live</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="/schedule">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="/detail">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#"
              >Registration</a
            >
          </li>
        </ul>
      </div>
      <div class="container">
        <h2>Registeration for Different Fields</h2>
        <div class="list-group">
          <a
            href="/register/coach"
            class="list-group-item list-group-item-action"
          >
            <img
              src="https://cdn2.iconfinder.com/data/icons/soccer-18/96/coach_player_manager_referee-512.png"
              width="40"
              height="40"
              alt="Coach"
            />
            <b>Coach</b></a
          >

          <a
            href="/register/players"
            class="list-group-item list-group-item-action"
            >
            <img
              src="https://static.thenounproject.com/png/177995-200.png"
              width="40"
              height="40"
              alt="Player"
          />            
            <b>Players</b></a>
        </div>
      </div>
    </div>
  </body>
</html>
